.flex-modal-hello-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .flex-modal-hello-screen {
    flex-direction: column;
    gap: 20px;
  }

  .flex-modal-hello-screen > div {
    margin: 30px auto;
  }
}
